@font-face {
    font-family: "iconfont"; /* Project id 3923962 */
    src: url('//at.alicdn.com/t/c/font_3923962_pvf01fu3ya.woff2?t=1680533620599') format('woff2'),
    url('//at.alicdn.com/t/c/font_3923962_pvf01fu3ya.woff?t=1680533620599') format('woff'),
    url('//at.alicdn.com/t/c/font_3923962_pvf01fu3ya.ttf?t=1680533620599') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
    content: "\e726";
}

.icon-back:before {
    content: "\e779";
}

.icon-search:before {
    content: "\e752";
}

.icon-store-fill:before {
    content: "\e735";
}

.icon-store:before {
    content: "\e736";
}

.icon-home-fill:before {
    content: "\e750";
}

.icon-home:before {
    content: "\e751";
}

.icon-account-fill:before {
    content: "\e75d";
}

.icon-account:before {
    content: "\e75e";
}

.icon-cheat-fill:before {
    content: "\e745";
}

.icon-cheat:before {
    content: "\e746";
}
